<%= form_for(@schlafpost) do |f| %>
  <% if @schlafpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schlafpost.errors.count, "error") %> prohibited this schlafpost from being saved:</h2>

      <ul>
      <% @schlafpost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :title %><br />
    <%= f.select :title, %w[regular nap1 nap2 nap3 nap4 nap5],:prompt=> "Bitte wählen"%>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date,:start_year =>2012,
                            :order=> [:year,:month,:day],
                            :use_month_numbers => true %>
  </div>
  <div class="field">
    <%= f.label :anfang %><br />
    <%= f.time_select :anfang, :minute_step =>5 %>
  </div>
  <div class="field">
    <%= f.label :ende %><br />
    <%= f.time_select :ende, :minute_step => 5 %>
  </div>
  <div class="field">
    <%= f.label :stimmung %><br />
    <
    <img src="http://www.freegifs.de/download.php?image=muede-krank/muede-krank_2f7c90ce56fb4a70e34c04d8d7692dd0.gif&host=8&id=26409"><%= f.radio_button :stimmung, 1%>
    <img src= "http://www.freegifs.de/download.php?image=muede-krank/muede-krank_e8fe9ab3b02e513df479edc57d141040.gif&host=8&id=26407"><%= f.radio_button :stimmung, 2%>
    <img src= "http://www.freegifs.de/download.php?image=konfus-verwirrt/konfus-verwirrt_10b96b98b614819ab4e4a2d2731ea66d.gif&host=8&id=26277"><%= f.radio_button :stimmung, 3%>
    <img src= "http://www.freegifs.de/download.php?image=froehlich/froehlich_cd72c79c3eeb7355e20bba58e9088654.gif&host=8&id=26257"><%= f.radio_button :stimmung, 4%>
    <img src="http://www.freegifs.de/download.php?image=froehlich/froehlich_dd71d9daac1113ff790069a42c49baa6.gif&host=8&id=26238"><%= f.radio_button :stimmung, 5%>
  </div>
  <div class="field">
    <%= f.label :dream, "Dream (optional)" %><br />
    <%= f.text_area :dream %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :verpennt %><br />
    <%= f.check_box :verpennt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
