
<h1><%= if_user_has_a_name(@schlafposts.first.user)%>'s Schlafblog</h1>



<% @temp %>
    <% @schlafposts.each do |schlafpost| %>
    <% unless @temp==schlafpost.date%>
        ______________________________________________________________________________________________________
    <h3> <%=schlafpost.date.strftime("%d.%m.%y")%></h3>
        <% @temp = schlafpost.date %>
        <%end%>
    <table class="table-bordered table-striped table-condensed">

      <thread>
        <tr>
            <td><b><%=schlafpost.title%></b>
             <%=schlafpost.anfang.strftime("%H:%M")%>
            - <%=schlafpost.ende.strftime("%H:%M")%>
              <%case schlafpost.stimmung%>
              <% when 1 %>
                  <img src="http://www.freegifs.de/download.php?image=muede-krank/muede-krank_2f7c90ce56fb4a70e34c04d8d7692dd0.gif&host=8&id=26409">
            <% when 2 %>
                  <img src= "http://www.freegifs.de/download.php?image=muede-krank/muede-krank_e8fe9ab3b02e513df479edc57d141040.gif&host=8&id=26407">
              <% when 3 %>
                  <img src= "http://www.freegifs.de/download.php?image=konfus-verwirrt/konfus-verwirrt_10b96b98b614819ab4e4a2d2731ea66d.gif&host=8&id=26277">
              <% when 4 %>
                  <img src= "http://www.freegifs.de/download.php?image=froehlich/froehlich_cd72c79c3eeb7355e20bba58e9088654.gif&host=8&id=26257">
              <% when 5 %>
                  <img src="http://www.freegifs.de/download.php?image=froehlich/froehlich_dd71d9daac1113ff790069a42c49baa6.gif&host=8&id=26238">
              <%end%>
        </tr>
      </thread>
      <tbody>
        <tr>
          <td> Beschreibung: <%=  schlafpost.description %></td>
        </tr>
        <tr><% unless schlafpost.dream == ""%><td> Geträumt: <%=  schlafpost.dream %> </td><%end%> </tr>

    <% if current_user == schlafpost.user %>
          <tr>
          <td><%= link_to 'Edit', edit_schlafpost_path(schlafpost),:class => "btn btn-mini btn-inverse" %>
            <%= link_to 'Destroy', schlafpost, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-mini btn-danger" %></td>
    <%end%>
        </tr>
      </tbody>
    </table>
<% end %>

<br />
  <% if user_signed_in? %>
<%= link_to 'New Schlafpost', new_schlafpost_path, :class => "btn btn-mini btn-success" %>
  <% end %>