
<h1><%= if_user_has_a_name(@schlafposts.first.user)%>'s Schlafblog</h1>



<% @temp %>
    <% @schlafposts.each do |schlafpost| %>
    <% unless @temp==schlafpost.date%>
        ______________________________________________________________________________________________________
    <h3> <%=schlafpost.date.strftime("%d.%m.%y")%></h3>
        <% @temp = schlafpost.date %>
        <%end%>
    <table class="table-bordered table-striped table-condensed">

      <thread>
        <tr>
            <td><b><%=schlafpost.title%></b>
             <%=schlafpost.anfang.strftime("%H:%M")%>
            - <%=schlafpost.ende.strftime("%H:%M")%>
              <%case schlafpost.stimmung%>
                <% when 1 %>
                  <%= image_tag("1.gif")   %>
                <% when 2 %>
                  <%= image_tag("2.gif")   %>
                <% when 3 %>
                  <%= image_tag("3.gif")   %>
                <% when 4 %>
                  <%= image_tag("4.gif")   %>
                <% when 5 %>
                  <%= image_tag("5.gif")   %>
                <%end%>
        </tr>
      </thread>
      <tbody>
        <tr>
          <td> Beschreibung: <%=  schlafpost.description %></td>
        </tr>
        <tr><% unless schlafpost.dream == ""%><td> Geträumt: <%=  schlafpost.dream %> </td><%end%> </tr>

    <% if current_user == schlafpost.user %>
          <tr>
          <td><%= link_to 'Edit', edit_schlafpost_path(schlafpost),:class => "btn btn-mini btn-inverse" %>
            <%= link_to 'Destroy', schlafpost, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-mini btn-danger" %></td>
    <%end%>
        </tr>
      </tbody>
    </table>
<% end %>

<br />
  <% if user_signed_in? %>
<%= link_to 'New Schlafpost', new_schlafpost_path, :class => "btn btn-mini btn-success" %>
  <% end %>
