
<h1><%=@schlafposts.first.user.uid%>'s Schlafblog</h1>
        <!-- Todo hier muss noch die Formatierung angepasst werden -->


<% @temp %>
    <% @schlafposts.each do |schlafpost| %>
    <% unless @temp==schlafpost.date%>
    <h3> <%=schlafpost.date.strftime("%d.%m.%y")%></h3>
        <% @temp = schlafpost.date %>
        <%end%>
    <table class="table-bordered table-striped table-condensed">

      <thread>
        <tr>
            <td><b><%=schlafpost.title%></b>
             <%=schlafpost.anfang.strftime("%H:%M")%>
            - <%=schlafpost.ende.strftime("%H:%M")%></td>
        </tr>
      </thread>
      <tbody>
        <tr>
          <td> Beschreibung: <%=  schlafpost.description %></td>
        </tr>
        <tr><% unless schlafpost.dream == ""%><td> Geträumt: <%=  schlafpost.dream %> </td><%end%> </tr>

    <% if current_user == schlafpost.user %>
          <tr>
          <td><%= link_to 'Edit', edit_schlafpost_path(schlafpost),:class => "btn btn-mini btn-inverse" %>
            <%= link_to 'Destroy', schlafpost, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-mini btn-danger" %></td>
    <%end%>
        </tr>
      </tbody>
    </table>
<% end %>

<br />

<%= link_to 'New Schlafpost', new_schlafpost_path, :class => "btn btn-mini btn-success" %>
