
<h1><%= if_user_has_a_name(@schlafposts.first.user)%>'s Schlafblog</h1>



<% @temp %>
    <% @schlafposts.each do |schlafpost| %>
    <% unless @temp==schlafpost.date%>
    <h3> <%=schlafpost.date.strftime("%d.%m.%y")%></h3>
        <% @temp = schlafpost.date %>
        <%end%>
    <table class="table-bordered table-striped table-condensed">

      <thread>
        <tr>
            <td><b><%=schlafpost.title%></b>
             <%=schlafpost.anfang.strftime("%H:%M")%>
            - <%=schlafpost.ende.strftime("%H:%M")%>
              <%case schlafpost.stimmung%>
              <% when 1 %>
                  <img src= "http://www.allmystery.de/i/tTDpKZJ_tired-sleeping-smiley-4655.gif">
              <% when 2 %>
                  <img src= "http://fg-community.net/wcf/images/smilies/smiley_weinen.gif">
              <% when 3 %>
                  <img src= "http://www.gifmix.de/3d-smiley.php?bild=verwirrte-3d-smilies/0017.gif">
              <% when 4 %>
                  <img src= "http://www.smfads.com/forums/Smileys/smfads/smiley.gif">
              <% when 5 %>
                  <img src="http://www.kekskruemmel.de/forum/images/smilies/smiley_emoticons_hurra3.gif">
              <%end%>
        </tr>
      </thread>
      <tbody>
        <tr>
          <td> Beschreibung: <%=  schlafpost.description %></td>
        </tr>
        <tr><% unless schlafpost.dream == ""%><td> Geträumt: <%=  schlafpost.dream %> </td><%end%> </tr>

    <% if current_user == schlafpost.user %>
          <tr>
          <td><%= link_to 'Edit', edit_schlafpost_path(schlafpost),:class => "btn btn-mini btn-inverse" %>
            <%= link_to 'Destroy', schlafpost, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-mini btn-danger" %></td>
    <%end%>
        </tr>
      </tbody>
    </table>
<% end %>

<br />

<%= link_to 'New Schlafpost', new_schlafpost_path, :class => "btn btn-mini btn-success" %>
