<!--vorlage aus bootstrap -->
<!DOCTYPE html>
<html>
<head>
  <title>Schlafblogmanager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>



    <%=  render "layouts/navbar"%>
    <div class="container">
      <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <a class="close" data-dismiss="alert">x</a>
            <%=  msg %>
            </div>
          <% end %>
      <div class="row">
        <div class="span9"><%=  yield %></div>
        <div class="span3">
          <h2>Information</h2>
          <%= link_to "Statistiken", charts_path(current_user.id), :class => "btn btn-large" if user_signed_in?%>
          <%= link_to "info", "http://de.wikipedia.org/wiki/Polyphasischer_Schlaf", :class => "btn btn-large" %>
          <br>




        </div>
      </div>
    </div>



    <div id="footer">
      <br>
      </blockquote>&copy 2012
      <% if user_signed_in? %>
          <%=  link_to "logout", signout_path, method: :delete, :class => "btn btn-mini btn-danger"%>
      <% else %>
          <%=  link_to "login", "/auth/cas",:class => "btn btn-mini btn-warning" %>
      <%end%>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                   <%= link_to image_tag("banner.gif"),"http://www.freegifs.de"%>
</body>
</html>
